@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #07331d;
    --secondary: #f8ef6d;
    --white: #f1f5f4;

}

body {
    font-family: 'DM Sans', sans-serif;
    color: var(--primary);

}

section:not(#main){
    margin: 80px auto;
}

#main {
    background-image: url("./img/main.png");
    min-height: 70vh;
    background-position: bottom center;
    background-size: cover;
}

a {
    text-decoration: none;
}

.container {
    
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: start;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.nav-list a {
    color: white;
}

.btn {
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary {
    border: 2px solid var(--white);
    color: white;
    font-weight: bold;
}

.btn-secondary:hover {
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
}

.btn-primary {
    border: none;
    background: var(--secondary);
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
    padding: 12px 24px;
}

.btn-primary:hover {
    background: var(--primary);
    color: var(--secondary);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    color: white;
}


.main-content .intro-heading {
    font-size: 50px;
}

.main-content .main-heading {
    font-size: 120px;
    margin-top: -30px;
}

.main-content p {
    max-width: 320px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px;

}

.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    width: 30px;

}

/* our services section styles */

.section-title{
    font-size: 40px;
    text-align: center;
}

.section-title .line{
    width: 150px;
    height: 4px;
    border: 10px;
    background: var(--secondary);
    margin: auto;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;
    flex-wrap: wrap;
    gap: 25px;
}

.service{
    width: 300px;
}

.service img{
    max-width: 100%;
    border: 5px;
    margin-bottom: 16px;
    transition: transform 0.3s ease;
    
}

.service img:hover{
    transform: scale(1.05);
}


@media screen and (max-width: 520px) {
    .menu-btn {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        background: gray;
        position: absolute;
        top: 0;
        right: -900px;
        width: 80%;
        height: 100vh;
        padding-top: 80px;
        transition: all 0.3s ease;

    }

    .nav-list.active{
        right: 0;
    }

    .nav-list li:not(:last-child) {
        text-align: left;
        width: 100%;
        padding: 10px 30px;
        border-bottom: 1px solid var(--white);
        margin-left: 60px;

    }

}